.container-home {
  position: relative; /* added to make the container the positioning context for the image */
  width: 100%;
  height: 100vh; /* added to set the container height to the full viewport height */
  overflow: hidden; /* added to hide any parts of the image that exceed the container */
}

.container-home img {
  position: absolute; /* added to position the image relative to the container */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* added to make the image fill the container */
}
.text-field {
  position: relative;
  top: 1cm;
  background-color: rgba(
    255,
    255,
    255,
    0.8
  ); /* added to make the text field opaque white */
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box {
  color: black;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  line-height: 50px;
  width: auto;
  height: 50px;
  border-radius: 5px;
  margin: auto;
  font-family: "GoldmanBold"
}

.boxphoneno {
  color: black;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  line-height: 50px;
  width: auto;
  height: 50px;
  border-radius: 5px;
  margin: auto;

  font-family: 'Hanalei Fill', cursive;
}
.boxname {
  color: black;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  line-height: 50px;
  width: auto;
  height: 50px;
  border-radius: 5px;
  margin: auto;
  font-family: "GoldmanBold"
}
@keyframes rotate {
  from {
    transform: rotate(-1deg);
  }
  to {
    transform: rotate(1deg);
  }
}

.box-open {
  background: green;
  color: white;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  line-height: 50px;
  width: 200px;
  height: auto;
  border-radius: 5px;
  margin: 1cm;
  border-color: black;

  border-width: 1cm;
  animation: rotate 3s linear infinite; /* Updated */
}
.box-close {
  background: red;
  color: white;
  font-size: 36px;
  font-weight: bold;
  text-align: center;

  width: 200px;
  border-radius: 5px;
  margin: 1cm;
  padding-inline: 1cm;
  border-width: 1cm;
  animation: rotate 3s linear infinite; /* Updated */
}
.text-condition {
  margin: 1cm;
}
.row-content {
  flex: 1;
  flex-direction: row;
}
.open-close {
  justify-content: center;
  align-items: center;
}
