.container-priceList {
  position: relative; /* added to make the container the positioning context for the image */
  width: 100%;
  height: 100vh; /* added to set the container height to the full viewport height */
  overflow:scroll; /* added to hide any parts of the image that exceed the container */
}

.container-priceList img {
  position: absolute; /* added to position the image relative to the container */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* added to make the image fill the container */
}
.text-priceList {
  position: relative;
  top: 1cm;
  display: flex;
  width:max-content;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(
    255,
    255,
    255,
    0.8
  ); /* added to make the text field opaque white */
 
}

.xCard{
  background-color: grey;
 width: max-content;
 height: max-content;
border-radius: 1cm;
margin: .3cm;
}
.bigText{
  background-color: red;
  font-size:1cm;
  text-align: center;
  font-weight: bolder;
  color: white;
  width: 200px;
  height: 150px;
}.cardPrice{
  background-color: red;
  font-size: 2cm;
  font-weight: bold;
  color: white;
  margin: auto;
  padding: auto;
  text-align: center;
  width: 200px;
  height: fit-content;
}
.xCard img {
  width: 200px;
  height: 200px;
  position: relative;
}