.container {
  background-color: #fff;
  padding: 20px;
  margin: 20px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border: 1px solid #ccc;
  border-radius: 5px;
  max-width: 800px;
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  line-height: 1.5;
  text-align: justify;
}
.title {
  text-align: center;
  align-items: center;
}
.App {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  border: 2px solid red;
  width: 800px;
  height: 200px;
}

th {
  border-bottom: 1px solid slateblue;
}

td {
  text-align: center;
}
